.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/settings.json
*.vsix
__LocalProfilingTests.swift

# 14 MiB+ file so we don't commit it
Tests/Resources/top-1m-domains.csv
